JB3BMA_0301/JB3BMA_orarend.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="kurzusTípus">
    <xs:restriction base="xs:string">
      <xs:minLength value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="JB3BMA_orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="kurzus" type="kurzusTípus"/>
              <xs:element name="idopont">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nap" type="xs:string"/>
                    <xs:element name="tol" type="xs:string"/>
                    <xs:element name="ig" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="helyszin" type="xs:string"/>
              <xs:element name="oktato" type="xs:string"/>
              <xs:element name="szak" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:byte" use="optional"/>
            <xs:attribute name="tipus" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
